<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">EJS Is Fun</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link font-weight-bold" href="/">Home</a>
      </li>
      <li class="nav-item font-weight-bold">
        <a class="nav-link" href="/addp">add a Product</a>
      </li>
      <li class="nav-item font-weight-bold">
        <a class="nav-link" href="/get">Display Products</a>
      </li>
      <li class="nav-item font-weight-bold">
        <a class="nav-link" href="/addc">add a category</a>
      </li>
      <li class="nav-item font-weight-bold">
        <a class="nav-link" href="/get2">Display Categories</a>
      </li>
   
    </ul>
  </nav>
